<div class="row">
    <div class="col">
        <mat-card class="example-card" style="max-width: 150px; height: 150px; margin-left: 15px;;">
            <p style="margin-left:40px; ">profile</p>
            <mat-card-actions>
                <i style="margin-left:36px;" class="fa-solid fa-user fa-5x"></i>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col">
        <mat-card style="margin-right:700px; width:550px ; gap: 4rem;">
            <div class="col" style="display: flex;">
                <h1>E-purchase information</h1>
                <button style="margin-left:50px ;" mat-stroked-button (click)="openAddForm()">+ Add purchases</button>
            </div><br>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 500px;">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Symbol </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>



        </mat-card>
    </div>
</div>