<div class="row">
    <div class="col">
        <mat-card class="example-card" style="max-width: 150px; height: 150px; margin-left: 15px;;">
            <p style="margin-left:40px; ">profile</p>
            <mat-card-actions>
                <i style="margin-left:36px;" class="fa-solid fa-user fa-5x"></i>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col" style="margin-right: 600px;;">
        <mat-card>


            <table class="table" style="width: 700px ;">
                <thead>
                    <tr>
                        <th scope="col-sm">S.NO</th>
                        <th scope="col-sm">date</th>
                        <th scope="col-sm">amount donated</th>
                        <th scope="col-sm">description</th>
                        <th scope="col-sm">Mode of payment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>03-07-2022</td>
                        <td>2500.00</td>
                        <td>test content</td>
                        <td>online</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>03-07-2022</td>
                        <td>2500.00</td>
                        <td>test content</td>
                        <td>online</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>03-07-2022</td>
                        <td>2500.00</td>
                        <td>test content</td>
                        <td>online</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>03-07-2022</td>
                        <td>2500.00</td>
                        <td>test content</td>
                        <td>online</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>03-07-2022</td>
                        <td>2500.00</td>
                        <td>test content</td>
                        <td>online</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>03-07-2022</td>
                        <td>2500.00</td>
                        <td>test content</td>
                        <td>online</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>03-07-2022</td>
                        <td>2500.00</td>
                        <td>test content</td>
                        <td>online</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>03-07-2022</td>
                        <td>2500.00</td>
                        <td>test content</td>
                        <td>online</td>
                    </tr>
                </tbody>
            </table>
        </mat-card>



    </div>
</div>