<div class="row">
    <div class="col">
        <mat-card class="example-card" style="max-width: 150px; height: 150px; margin-left: 15px;;">
            <p style="margin-left:40px; ">profile</p>
            <mat-card-actions>
                <i style="margin-left:36px;" class="fa-solid fa-user fa-5x"></i>
            </mat-card-actions>
        </mat-card>

    </div>
    <div class="col" style="margin-right: 200px;">
        <mat-card class="example-card">

            <mat-list style="width: 1000px;">
                <mat-list-item>
                    <div class="row" style="display: flex; flex-direction: row; column-count: 30rem;">
                        <div class="col" id="profile">
                            <h3>#1234</h3>
                            <p> student id</p>

                        </div>
                        <div class="col" id="profile">
                            <p>student/mentor/chief mentor</p>
                            <p>Role</p>
                        </div>
                    </div>

                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item style="height:80px ;">
                    <div class="row">
                        <div class="col-sm">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="col" id="profile1">
                            <p>Ajith</p>
                            <p>name</p>
                        </div>
                        <div class="col" id="profile1">
                            <p>business</p>
                            <p>Profession</p>
                        </div>
                        <div class="col" id="profile1">
                            <p>Degree</p>
                            <p>Educational details</p>

                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item style="height:80px ;">
                    <div class="row">
                        <div class="col">
                            <i class="fa-sharp fa-solid fa-circle-info"></i>
                        </div>
                        <div class="col" id="profile1">

                            <p>Male</p>
                            <p>Gender</p>

                        </div>
                        <div class="col" id="profile1">
                            <p>24</p>
                            <p>age</p>
                        </div>
                        <div class="col" id="profile1">
                            <p>8870360992</p>
                            <p>Mobile</p>
                        </div>
                    </div>

                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item style="height:80px ;">
                    <div class="row">
                        <div class="col">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="col" style="width: 542px; ">
                            <p>2/64,bajanai kovil street,vandranthangal,katpadi,vellore:632059</p>
                            <p>address</p>
                        </div>
                    </div>

                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item style="height:80px ;">
                    <div class="row">
                        <div class="col">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="col" style="width:500px; ;">
                            <p>ajith98ra@gmail.com</p>
                            <p>Email</p>
                        </div>
                        <div class="col">
                            <p>11/09/2022</p>
                            <p>member registered on</p>
                        </div>

                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item style="height:80px ;">
                    <div class="row">
                        <div class="col">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="col" style="width: 440px;;">
                            <p>192.0.0.0/29</p>
                            <p>registered from IP address</p>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item style="height:80px ;">
                    <div class="row">
                        <div class="col">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </div>
                        <div class="col" style="width: 800px; ">

                            <mat-radio-group aria-label="Select an option" style="display: flex; gap: 1rem; margin-left: 189px;">
                                <mat-radio-button value="1">Active</mat-radio-button>
                                <mat-radio-button value="2">mentor</mat-radio-button>
                                <mat-radio-button value="3">withdrawn</mat-radio-button>
                                <mat-radio-button value="4">system Removed</mat-radio-button>

                                <mat-radio-button value="5">Reprovisioned(admin & chief mentor)</mat-radio-button>





                            </mat-radio-group>



                        </div>






                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item style="height:80px ;">
                    <div class="row">
                        <div class="col">
                            <i class="fa-solid fa-clipboard"></i>
                        </div>
                        <div class="col" style="width: 430px;;">
                            <p>course name</p>
                            <p>map to a course</p>
                        </div>

                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>