<div class="container-fluid">

    <div class="row ">
        <div class="col">
            <h2>View Students</h2>
        </div>
        <div class="col" style="margin-left: 600px;;">
            <mat-form-field appearance="fill" style="height: 2px; ;">
                <mat-label>Select an option</mat-label>
                <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>&nbsp;
            <button style="background-color:rgb(198, 195, 195) ;width:5px;" mat-stroked-button>Basic</button>
        </div>

    </div>
</div>